@tailwind base;
@tailwind components;
@tailwind utilities;

@responsive {
  .w-768 {
    width: 768px;
  }

  .w-1024 {
    width: 1024px;
  }
}

.navbar ul li + li {
  @apply lg:ml-6;
}

.navbar ul li a {
  font-family: "Noto Sans", sans-serif;
  @apply py-1;
  @apply text-grayscale-700;
  @apply hover:text-primary-300;
  @apply relative;
  @apply block;
}

.navbar ul li a:after {
  content: "";
  @apply absolute;
  @apply mx-auto;
  @apply left-0;
  @apply right-0;
  @apply bottom-0;
  @apply w-0;
  height: 1px;
  @apply bg-primary-100;
  @apply transition-all;
  @apply duration-500;
}
.navbar ul li a:hover:after {
  @apply lg:w-full;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.arimo {
  font-family: "Arimo", sans-serif;
}

.ratio-1-1 {
  width: 100%;
  padding-top: 100%;
  @apply relative;
}

.banner-foot:after {
  content: "";
  @apply absolute;
  @apply top-0;
  @apply bottom-0;
  @apply left-0;
  @apply w-full;
  @apply bg-background;
  @apply mt-28;
  @apply md:mt-32;
  @apply lg:mt-40;
  @apply xl:mt-48;
  @apply 2xl:mt-56;
}
