@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "FredokaOne";
  src: url("/fonts/FredokaOne-Regular.ttf");
}

@responsive {
  .w-768 {
    width: 768px;
  }

  .w-1024 {
    width: 1024px;
  }
}

.navbar ul li + li {
  @apply lg:ml-6;
}

.navbar ul li a {
  font-family: "Noto Sans", sans-serif;
  @apply py-2;
  @apply lg:text-sm;
  @apply text-grayscale-600;
  @apply hover:text-primary-300;
  @apply relative;
  @apply block;
  @apply font-bold;
}

.navbar ul li span {
  font-family: "Noto Sans", sans-serif;
  @apply py-2;
  @apply lg:text-sm;
  @apply text-grayscale-600;
  @apply hover:text-primary-300;
  @apply relative;
  @apply font-bold;
}

.navbar ul li ul li a,
.navbar ul li ul li span {
  font-family: "Noto Sans", sans-serif;
  @apply py-2;
  @apply text-grayscale-600;
  @apply hover:text-primary-300;
  @apply relative;
  @apply block;
  @apply font-normal;
}

.navbar ul li ul li + li {
  @apply lg:ml-0;
}

.navbar ul li a:after {
  content: "";
  @apply absolute;
  @apply mx-auto;
  @apply left-0;
  @apply right-0;
  @apply bottom-0;
  @apply w-0;
  height: 1px;
  @apply bg-primary-100;
  @apply transition-all;
  @apply duration-500;
}
.navbar ul li a:hover:after {
  @apply lg:w-full;
}

.navbar ul li ul li a:after {
  content: unset;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.arimo {
  font-family: "Arimo", sans-serif;
}

.noto {
  font-family: "Noto Sans", sans-serif;
}

.ratio-1-1 {
  width: 100%;
  padding-top: 100%;
  @apply relative;
}

.ratio-16-9 {
  width: 100%;
  padding-top: 56.25%;
  @apply relative;
}

.banner-foot:after {
  content: "";
  @apply absolute;
  @apply top-0;
  @apply bottom-0;
  @apply left-0;
  @apply w-full;
  @apply bg-background;
  @apply mt-28;
  @apply md:mt-32;
  @apply lg:mt-40;
  @apply xl:mt-48;
  @apply 2xl:mt-56;
}

.fredoka {
  font-family: "FredokaOne";
}

.breadcrumb {
  @apply flex;
  @apply justify-center;
  @apply flex-wrap;
}

.breadcrumb li + li:before {
  @apply mx-3;
  content: "»";
}

.breadcrumb li {
  @apply block;
  @apply py-1;
  @apply text-grayscale-700;
  font-family: "Roboto", sans-serif;
  @apply text-sm;
  @apply lg:text-base;
  @apply text-center;
}

.breadcrumb li a:hover {
  @apply underline;
}

.noreset blockquote,
.noreset figure {
  margin: 1em 40px;
}

.noreset p {
  @apply mb-5;
}

.noreset a {
  @apply text-primary-300;
}

.noreset h1 {
  font-size: 2em;
  font-weight: bold;
  margin: 0.67em 0;
}

.noreset h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0.83em 0;
}

.noreset h3 {
  font-size: 1.17em;
  font-weight: bold;
  margin: 1em 0;
}

.noreset h4 {
  font-size: 1em;
  font-weight: bold;
  margin: 1.33em 0;
}

.noreset h5 {
  font-size: 0.83em;
  font-weight: bold;
  margin: 1.67em 0;
}

.noreset h6 {
  font-size: 0.67em;
  font-weight: bold;
  margin: 2.33em 0;
}

.noreset ul,
.noreset menu {
  list-style-type: disc;
  margin: 1em 0;
  padding: 0 0 0 40px;
}

.noreset ol {
  list-style-type: decimal;
  margin: 1em 0;
  padding: 0 0 0 40px;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  @apply -ml-5;
  width: auto;
}
.my-masonry-grid_column {
  @apply pl-5;
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  @apply mb-5;
}

.image-container > div {
  position: unset !important;
}

.image-container .image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.image-container .image-h {
  object-fit: contain;
  height: 100% !important;
  position: relative !important;
  width: unset !important;
}
